@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400;0,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* ---------------------------------------------------------- */
/* CUSTOM BUTTON STYLES */

/* custom button base styles */

.custom-btn {
  @apply inline-flex items-center justify-center gap-2 rounded-xl font-semibold uppercase focus:outline-none focus:ring-2 disabled:cursor-not-allowed;
}

/* button variants */

.btn-primary {
  @apply bg-brands-light-green text-white hover:bg-brands-dark-green focus:ring-green-400 disabled:bg-gray-200 disabled:text-gray-400;
}

.btn-secondary {
  @apply bg-white text-brands-light-green hover:bg-emerald-50 focus:ring-green-400 disabled:bg-gray-200 disabled:text-gray-400;
}

.btn-outline {
  @apply border-2 border-brands-light-green text-brands-light-green bg-transparent hover:bg-brands-light-green hover:text-white focus:ring-green-400 disabled:border-gray-300 disabled:bg-transparent disabled:text-gray-400;
}

/* size variants */

.btn-lg {
  @apply p-2.5 text-sm;
}

.btn-sm {
  @apply p-2 text-xs;
}

/* icon size */

.icon-md {
  @apply text-icon-md;
}

.icon-sm {
  @apply text-icon-sm;
}

/* ---------------------------------------------------------- */
/* NAVBAR STYLES */

/* navbar button styles */

.btn-beranda {
  @apply flex w-full flex-col items-center p-3 text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400;
}

.btn-history {
  @apply flex w-full flex-col items-center p-3 text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400;
}

.btn-account {
  @apply flex w-full flex-col items-center p-3 text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-400;
}

/* navbar icons styles */

.icon-beranda-first {
  @apply i-material-symbols-home-outline-rounded;
}

.icon-beranda-first-style {
  @apply text-icon-md inline group-hover:hidden;
}

.icon-beranda-second {
  @apply i-material-symbols-home-rounded;
}

.icon-beranda-second-style {
  @apply text-icon-md hidden group-hover:inline;
}

.icon-history-first {
  @apply i-material-symbols-receipt-outline-rounded;
}

.icon-history-first-style {
  @apply text-icon-md inline group-hover:hidden;
}

.icon-history-second {
  @apply i-material-symbols-receipt-rounded;
}

.icon-history-second-style {
  @apply text-icon-md hidden group-hover:inline;
}

.icon-account-first {
  @apply i-material-symbols-person-outline-rounded;
}

.icon-account-first-style {
  @apply text-icon-md inline group-hover:hidden;
}

.icon-account-second {
  @apply i-material-symbols-person-rounded;
}

.icon-account-second-style {
  @apply text-icon-md hidden group-hover:inline;
}

/* ---------------------------------------------------------- */

/* APPBAR STYLES */

.appbar-container {
  @apply flex fixed top-0 left-0 z-10 w-full items-center gap-5 bg-white p-4 text-gray-900;
}

.btn-appbar {
  @apply hover:text-gray-400 focus:outline-none focus:ring-2 focus:ring-green-400;
}

.icon-appbar {
  @apply i-material-symbols-arrow-left-alt-rounded text-icon-md block;
}

/* ---------------------------------------------------------- */
/* INPUT STYLES */

/* input field base styles */

.custom-input {
  @apply w-full rounded-2xl border bg-white p-3 text-sm ps-12 pe-12 focus:outline-none focus:ring-2 disabled:border-gray-300 disabled:bg-gray-100;
}

/* input field states */
.custom-input::placeholder {
  @apply text-gray-400;
}

.input-default {
  @apply border-gray-400 text-gray-900 placeholder:text-gray-400 focus:ring-green-400;
}

.input-invalid {
  @apply bg-red-200 text-red-900 caret-red-900 focus:ring-red-900;
}

.icon-default {
  @apply text-gray-400;
}

.icon-invalid {
  @apply text-red-400 peer-focus:text-red-900;
}

/* hint text styles */

.input-hint {
  @apply ps-4 text-xs text-gray-900;
}

/* label styles */

.input-label {
  @apply ps-4 text-sm font-medium uppercase text-gray-900;
}

/* ---------------------------------------------------------- */
/* CARD LIST STYLES */

.card-container {
  @apply rounded-[20px] bg-white shadow-md overflow-hidden;
}

/* Card Header Styles */

.card-header {
  @apply flex justify-between items-center p-6 bg-white;
}

.card-header-title {
  @apply font-semibold text-gray-900;
}

.card-header-link {
  @apply text-brands-light-green text-xs font-semibold hover:text-brands-light-green/70 focus:ring-2 focus:ring-green-400 focus:outline-none;
}

/* LIST ITEM STYLES */

.list-item {
  @apply flex justify-between items-center rounded-[20px] p-3 hover:bg-emerald-50 focus:outline-none focus:ring-2 focus:ring-green-400 transition-all duration-300;
}

.list-item-left {
  @apply flex items-center gap-5;
}

.list-item-icon {
  @apply text-icon-lg text-brands-light-green flex-shrink-0;
}

.list-item-content {
  @apply flex flex-col;
}

.list-item-title {
  @apply line-clamp-2 text-sm font-semibold text-gray-900;
}

.list-item-description {
  @apply line-clamp-1 text-xs text-gray-500;
}

.list-item-right {
  @apply flex items-center gap-2;
}

.list-item-right-text {
  @apply text-xs font-medium;
}

.list-item-right-icon {
  @apply text-icon-md text-gray-900;
}

/* Divider Styles */

.divider {
  @apply h-[1px] w-full bg-gray-300 my-2.5;
}

/* Empty State Styles */

.empty-state {
  @apply text-center py-6 text-gray-500 text-sm italic;
}

/*---------------------------------------------------------- */

/* LOGO SIMPLE ANIMATION */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*---------------------------------------------------------- */

/*---------------------------------------------------------- */
/* PAGE SPLASH STYLES */

.splash-container {
  @apply container mx-auto max-w-[768px] h-screen bg-brands-light-green flex flex-col items-center justify-center;
}

.splash-title {
  @apply font-sans absolute bottom-9 text-3xl font-bold uppercase text-[#3ed6b8] animate-fadeIn;
}

/*---------------------------------------------------------- */
/*  PAGE STATUS TRANSACTION STYLES */

.animate-fadeIn {
  animation: fadeIn 2s ease-in-out;
}

/* status transaction container style */

.status-transaction-container {
  @apply container md:max-w-md mx-auto min-h-screen bg-green-50 pb-[80px] flex flex-col gap-2;
}

/* statu transaction content style */

.status-content {
  @apply absolute mt-[92px] flex flex-col w-full gap-10 p-4;
}

/* status title & description style */

.status-title {
  @apply text-center text-lg font-semibold text-white;
}

.status-description {
  @apply text-center text-xs text-white mt-2;
}

/* detail transaction style */

.detail-transaction-container {
  @apply flex flex-col gap-4 rounded-2xl bg-white p-4 shadow-md;
}

.id-transaction {
  @apply text-right text-xs text-gray-900;
}

.amount {
  @apply text-center text-2xl font-bold text-gray-900;
}

.subcontainer {
  @apply flex justify-between;
}

.status-subtitle {
  @apply text-xs text-gray-500;
}

.detail-transaction {
  @apply text-xs font-semibold text-gray-900;
}

/* navbar container styles */

.navbar-container {
  @apply fixed bottom-0 left-0 w-full py-3 shadow-md;
}

/* status-transaction color */

.bg-brands-transaction-processed {
  @apply bg-[#9CA3AF];
}

.bg-brands-transaction-canceled {
  @apply bg-[#FBBF24];
}

.bg-brands-transaction-canceled-title {
  @apply text-gray-900;
}

.bg-brands-transaction-failed {
  @apply bg-[#EF4444];
}

.bg-brands-transaction-expired {
  @apply bg-[#FB7185];
}

/*---------------------------------------------------------- */
/* PAGE REGISTER STYLES */

.register-container {
  @apply container mx-auto max-w-[768px] h-screen bg-green-50 flex flex-col items-center justify-center px-4;
}

.register-title-container {
  @apply mb-5 mt-8 flex flex-col items-center;
}

.register-title {
  @apply text-lg font-semibold text-gray-900 text-center;
}

.register-subtitle {
  @apply text-xs font-medium text-gray-400 text-center;
}

.register-form {
  @apply flex flex-col gap-4 w-full;
}

.page-description {
  @apply text-brands-light-green font-semibold hover:text-brands-light-green/70 focus:outline-none focus:ring-2 focus:ring-green-400;
}
/*---------------------------------------------------------- */
/* PAGE DASHBOARD STYLES */

.dashboard-container {
  @apply container md:max-w-md mx-auto min-h-screen bg-green-50 p-4 pb-[80px] flex flex-col gap-2;
}

.user-link {
  @apply flex items-center gap-2 mb-4 hover:opacity-70 focus:outline-none focus:ring-2 focus:ring-green-400;
}

.user-name {
  @apply text-lg font-semibold text-gray-900;
}

.background-container {
  @apply h-[165px] flex flex-col bg-gradient-to-b from-brands-light-green to-emerald-400 rounded-2xl text-white p-5 justify-between;
}

.app-title {
  @apply text-2xl font-bold uppercase;
}

.user-balance {
  @apply flex items-center gap-2 mt-4;
}

.btn-dashboard {
  @apply flex gap-3 mt-2 mb-6;
}

/*---------------------------------------------------------- */
/* PAGE TRANSACTION HISTORY STYLES */
